<button strokedButton style="float: right; margin: 10px;" (click)="onClick()">{{buttonLabel}}</button>

<icon fill>home</icon>


<radio-group [(ngModel)]="favoriteSeason">
    @for (season of seasons; track season) {
    <radio-button [value]="season">{{season}}</radio-button>
    }
</radio-group>
<br>
<div>Your favorite season is: {{favoriteSeason}}</div>
<br>

<checkbox [(ngModel)]="checked">Hello</checkbox>
<br>
<div>Checked: {{checked}}</div>

<button textButton>Text Button</button>
<button raisedButton>Raised</button>
<button strokedButton>Stroked</button>
<button flatButton>Flat</button>
<button iconButton>
    <icon fill>star</icon>
</button>

<br>
<br>
<divider />

<br>
<br>

<form-field>
    <input inputField>
    <form-field-label>First Name</form-field-label>
    <form-field-hint>i.e. John</form-field-hint>
</form-field>

<br>
<br>
<br>

<form-field>
    <form-field-label>Your state</form-field-label>
    <dropdown [(ngModel)]="selectedValue">
        <dropdown-item>None</dropdown-item>
        @for (state of states; track state) {
        <dropdown-item [value]="state">{{state}}</dropdown-item>
        }
    </dropdown>
</form-field>

<div>Your state is: {{selectedValue}}</div>

<br>