<!-- <button strokedButton style="float: right; margin: 10px;" (click)="onClick()">{{buttonLabel}}</button>

<menu-bar>
    <button [menuTrigger]="myMenu">File</button>
    <button [menuTrigger]="myMenu2">Edit</button>
    <button [menuTrigger]="myMenu3">Selection</button>
</menu-bar>

<br>

<icon fill>home</icon>


<radio-group [(ngModel)]="favoriteSeason">
    @for (season of seasons; track season) {
    <radio-button [value]="season">{{season}}</radio-button>
    }
</radio-group>
<br>
<div>Your favorite season is: {{favoriteSeason}}</div>
<br>

<checkbox [(ngModel)]="checked">Hello</checkbox>
<br>
<div>Checked: {{checked}}</div>

<button textButton>Text Button</button>
<button raisedButton>Raised</button>
<button strokedButton>Stroked</button>
<button #flatButton flatButton>Flat</button>
<button iconButton>
    <icon fill>star</icon>
</button>

<br>
<br>
<divider />

<br>
<br>
<form>
    <form-field>
        <input type="email" inputField [formControl]="emailFormControl">
        <form-field-label>Email</form-field-label>
        <form-field-hint>john&#64;gmail.com</form-field-hint>
        @if (emailFormControl.hasError('email') && emailFormControl.touched ) {
        <form-field-error>Please enter a valid email address</form-field-error>
        }
    </form-field>
</form>


<br>
<br>
<br>

<form-field color="secondary">
    <form-field-label>Your state</form-field-label>
    <dropdown [(ngModel)]="selectedValue">
        <dropdown-item>None</dropdown-item>
        @for (state of states; track state) {
        <dropdown-item [value]="state">{{state}}</dropdown-item>
        }
    </dropdown>
</form-field>

<div>Your state is: {{selectedValue}}</div>

<br>

<br>

<form-field>
    <input #myInput="datePicker" inputField datePicker [(ngModel)]="myDate">
    <form-field-label>Choose a date</form-field-label>
    <form-field-hint>MM/DD/YYYY</form-field-hint>
    <button iconButton suffix (click)="myInput.toggleCalendar()">
        <icon fill>calendar_month</icon>
    </button>
</form-field>



<menu #myMenu>
    <button menuItem disabled>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <icon fill color="primary">star</icon>
        Item 2
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenu">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenu>
    <button menuItem>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <span>Item 2</span>
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenu2">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenu2>
    <button menuItem>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <icon fill>star</icon>
        <span>Item 2</span>
    </button>

    <button menuItem><span>Item 3</span></button>
</menu>





<menu #myMenu2>
    <button menuItem disabled>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <icon fill>star</icon>
        Item 2
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenuA">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenuA>
    <button menuItem>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <span>Item 2</span>
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenu2B">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenu2B>
    <button menuItem>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <icon fill>star</icon>
        <span>Item 2</span>
    </button>

    <button menuItem><span>Item 3</span></button>
</menu>








<menu #myMenu3>
    <button menuItem disabled>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <icon fill>star</icon>
        Item 2
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenuC">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenuC>
    <button menuItem>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <span>Item 2</span>
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenu2C">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenu2C>
    <button menuItem>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <icon fill>star</icon>
        <span>Item 2</span>
    </button>

    <button menuItem><span>Item 3</span></button>
</menu>

<data-grid style="max-width: 919px;
    height: 594px;"
[columnDefs]="colDefs"
[rowData]="rowData"
></data-grid>


<div>
    <pre>{{ data() | json }}</pre>
    <button (click)="testGet()">Test GET</button>
    <button (click)="testPost()">Test POST</button>
    <button (click)="testPut()">Test PUT</button>
    <button (click)="testDelete()">Test DELETE</button>

    <h3>Error Message</h3>
      <pre>{{ errorMessage() }}</pre>
      <button (click)="testErrorGet()">Test GET Error</button>
      <button (click)="testErrorPost()">Test POST Error</button>
</div> -->